h1 {
	color: #234567;
}

h3 {
  font-family: 'Futura', sans-serif;
  text-align: center;
	font-size: 1.125em;
}

p {
  font-family: sans-serif;
  line-height: 1.5;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

div {
	width: 23%;
	height: 23%;
	float: left;
	margin: 1%;
}

img {
	max-width: 100%;
}

.center {
	/*display: block;
	margin: 0 auto;*/
	text-align: center;
}
